<div class="home-page">

  <div class="banner">
    <div class="container">
      <p>Welcome, data lover</p>
    </div>
  </div>

  <main class="container page">
    <section class="row">
      <!-- Main view -->
      <div class="width-100">
        <div id="chart">
          <p>ℹ️ Insert your chart component in heres</p>
        </div>
        <button ng-click="$ctrl.addData()">Agregar datos</button>
        <button ng-click="$ctrl.reduceData()">Reducir datos</button>
      </div>

      <!-- End the row & container divs -->
    </section>
  </main>

</div>
